<div id="body">
    <section class="featured">
        <div class="content-wrapper">
            <hgroup class="title">
                <h1>Onde vamos almoçar?</h1>
                <h2>A maneira mais democrática de encontrar um local para almoçar com os colegas.</h2>
            </hgroup>
            <p>
                Vote no restaurante que mais lhe agrade. Sem precisar de horas e horas de discussões e negociações com colegas.
            </p>
        </div>
    </section>
    <section class="content-wrapper main-content clear-fix">
        <h3>Algumas informações importantes:</h3>
        <ol class="round">
            <li class="one">
                <h5>Restaurantes</h5>
                Acesse a lista de restaurantes para verificar informações sobre o estabelecimento, tais como:
                nome, descrição, endereço e custo estimado que irá gastar.
                <a href="/Restaurante">Ir para restaurantes…</a>
            </li>

            <li class="two">
                <h5>Colaboradores</h5>
                Veja quais colaboradores já estão votando nos restaurantes.
                <a href="/Colaborador"</a>Ir para colaboradores…</a>
            </li>
            <li class="three">
                <h5>Votação</h5>
                Vote no seu restaurante preferido. Lembrando que você pode votar somente uma vez ao dia. Mas se quiser,
                pode selecionar outra data e votar.
                A votação será encerrada automaticamente quando um restaurante estiver matematicamente vencido. Em caso
                de empate, o restaurante que menos vezes ganhou será o escolhido. É possível votar até às 11 horas. Após isso
                será computado voto para o outro dia.
                Os resultados das votações podem ser visualizados em <a href="/Resultado">Resultado das votações</a>
                <a href="/Votacao">Ir para votação…</a>
            </li>
        </ol>
    </section>
</div>
